*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right,#F0E7D8,#A63A50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#time{
    width: 25vw;
    font-size: 5vw;
    text-align: center;
}
#button{
    width: 25vw;
}
.start,.stop,.reset{
    height: 7.5vh;
    width: 6.25vw;
    font-size: 1.25rem;
    margin-left: 1.4vw;
    border-radius: 1rem;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    background-color: var(--clr);
}
.start:hover,.stop:hover,.reset:hover{ 
    box-shadow: 0 0 1.5px 1.5px rgba(0,0,0,0.7);
}
